{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1>Mon blog</h1>
<p>Ceci est la page d'accueil</p>
<p><a href="{{ path('actualites_articles') }}">Liste des articles</a></p>
<p><a href="{{ path('app_login') }}">Se connecter</a></p>
{% if is_granted('ROLE_ADMIN') %}
<p><a href="{{ path('admin_index') }}">Admin</a></p>
{% endif %}
{% if is_granted('ROLE_USER') %}
<p><a href="#">Profil</a></p>
{% endif %}

{% endblock %}
